body {
  /*background-color: darkgray;*/
  background-color: rgb(80, 130, 86);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: black;
  -webkit-user-select: none;  /* Safari */
  -ms-user-select: none;      /* IE 10, IE 11 */
  user-select: none;
  margin: 0px;
  overflow: hidden;
}

.view-window {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  grid-template-rows: auto minmax(0, 1fr) auto;
  width: 500px;
  height: 250px;
  min-width: 200px;
  min-height: 200px;
  background-color: #E0E0E0;
  position: absolute;
  z-index: 100;
  --xpos: 0;
  --ypos: 0;
  --title: "Default";
  --icon: url("images/icon-placeholder.png");
  transform: translate(
    calc(var(--xpos) * 1px),
    calc(var(--ypos) * 1px)
  );
}

.view-window[state="maximized"] {
  width: calc(100% + 8px) !important;
  height: calc(100% + 8px - 30px) !important;
  transform: translate(-4px, -4px);
}

.view-window-border-nw {
  width: 4px;
  height: 4px;
  background-color: lightgray;
  box-shadow: 0 1px inset white, 1px 0 inset darkgray;
  cursor: nw-resize;
}

.view-window-border-n {
  width: 100%;
  height: 4px;
  background-color: lightgray;
  box-shadow: 0 1px inset white, 0 -1px inset darkgray;
  cursor: n-resize;
}

.view-window-border-ne {
  width: 4px;
  height: 4px;
  background-color: lightgray;
  box-shadow: 0 1px inset white, -1px 0 inset darkgray;
  cursor: ne-resize;
}

.view-window-border-w {
  width: 4px;
  height: 100%;
  background-color: lightgray;
  box-shadow: 1px 0 inset darkgray;
  cursor: w-resize;
}

.view-window-border-e {
  width: 4px;
  height: 100%;
  background-color: lightgray;
  box-shadow: -1px 0 inset darkgray;
  cursor: e-resize;
}

.view-window-border-sw {
  width: 4px;
  height: 4px;
  background-color: lightgray;
  box-shadow: 1px 0 inset darkgray, 0 -1px inset darkgray;
  cursor: sw-resize;
}

.view-window-border-s {
  width: 100%;
  height: 4px;
  background-color: lightgray;
  box-shadow: 0 1px inset white, 0 -1px inset darkgray;
  cursor: s-resize;
}

.view-window-border-se {
  width: 4px;
  height: 4px;
  background-color: lightgray;
  box-shadow: -1px 0 inset darkgray, 0 -1px inset darkgray;
  cursor: se-resize;
}

.view-window-title {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto auto;
  background-color: #6a8fe4;
  background-image: var(--icon);
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: center;
  background-size: 16px;
  min-height: 20px;
}

.view-window-title[state="active"] {
  background-color: #0050B0;
}

.view-window-title-text {
  color: white;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11pt;
  min-width: 0;
  padding-left: 24px;
  align-self: center;
}

.view-window-title-buttons {
  display: grid;
  grid-template-columns: auto auto auto;
}

.view-window-title-buttons > button {
  padding: 10px;
  border: none;
  aspect-ratio: 1 / 1;
  box-shadow: 0 1px inset white, -1px 0 inset white, 1px 0 inset darkgray, 0 -1px inset darkgray;
}

.view-window-title-buttons > button:active {
  background-color: rgb(199, 199, 199);
  box-shadow: 0 -1px inset gray, 1px 0 inset gray, -1px 0 inset darkgray, 0 1px inset darkgray;
}

.view-window-minimize {
  background-image: url("images/title-button-minimize.png");
  background-repeat: no-repeat;
  background-position: center;
}

.view-window-maximize {
  background-image: url("images/title-button-maximize.png");
  background-repeat: no-repeat;
  background-position: center;
}

.view-window[state="maximized"] .view-window-maximize {
  background-image: url("images/title-button-windowed.png");
}

.view-window-close {
  background-image: url("images/title-button-close.png");
  background-repeat: no-repeat;
  background-position: center;
}

.view-window-content {
  padding: 5px;
}

.icon {
  display: grid;
  grid-template-rows: 50px auto;
  width: 80px;
  position: absolute;
  --xpos: 0;
  --ypos: 0;
  transform: translate(
    calc(var(--xpos) * 1px),
    calc(var(--ypos) * 1px)
  );
}

.icon-image {
  background-image: url("images/icon-placeholder.png");
  background-repeat: no-repeat;
  background-position: center;
  mask-image: url("images/icon-placeholder.png");
  mask-repeat: no-repeat;
  mask-position: center;
}

.icon[state="selected"] > .icon-image {
  background-color: rgba(0, 100, 255, 1);
  background-blend-mode: multiply;
}

.icon-text {
  margin-top: 5px;
  font-size: 11pt;
  max-width: 75px;
  overflow-wrap: break-word;
  text-align: center;
}

.icon[state="selected"] > .icon-text {
  background-color: rgba(0, 100, 255, 1);
  color: white;
  border: 1px dotted white;
}

.taskbar {
  display: flex;
  align-items: center;
  background-color: darkgray;
  box-shadow: 0 1px inset gray, 0 2px inset white;
  position: fixed;
  width: 100%;
  height: 30px;
  gap: 4px;
  bottom: 0;
  left: 0;
  z-index: 200;
}

.taskbar-start-button {
  background-image: url("images/taskbar-start.png");
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: center;
  padding-left: 24px;
  margin-left: 4px;
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: right;
  background-color: darkgray;
  border: none;
  font-weight: bold;
}

.taskbar-start-button:active {
  background-color: rgb(114, 114, 114);
}

.taskbar-separator {
  border-left: 1px solid black;
  border-right: 1px solid white;
  height: 75%;
}

.taskbar-windows {
  display: flex;
  flex: 0 0 0;
  align-items: center;
  gap: 4px;
  height: 100%;
}

.taskbar-view-window {
  background-image: url("images/icon-placeholder.png");
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: center;
  background-size: 16px;
  padding-left: 24px;
  padding-right: 8px;
  box-shadow: 0 1px inset white, -1px 0 inset white, 1px 0 inset gray, 0 -1px inset gray;
  height: 24px;
  line-height: 24px;
  color: black;
  font-size: 10pt;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  width: 200px;
}

.taskbar-view-window[state="active"] {
  box-shadow: 0 -1px inset white, 1px 0 inset white, -1px 0 inset gray, 0 1px inset gray;
  background-color: lightgray;
}

#mainWindow {
  --xpos: 80;
  --ypos: 80;
  --title: "Main Window";
}

#secondaryWindow {
  --xpos: 120;
  --ypos: 120;
  --title: "Secondary Window With A Very, Very Long Title";
}

#mainWindowIcon {
  --xpos: 20;
  --ypos: 20;
}

#secondaryWindowIcon {
  --xpos: 20;
  --ypos: 120;
}
